@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap");
.content-section {
  width: 100vw;
  height: 100vh;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

.container form .login_group {
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: whitesmoke;
}
@media only screen and (min-width: 600px) {
  .container form .login_group {
    width: 50%;
  }
}
@media only screen and (min-width: 1120px) {
  .container form .login_group {
    width: 30%;
  }
}
.container form .login_group h1, .container form .login_group h3 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 900;
  margin: 1rem;
}

.alert {
  margin: 1rem;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger, .nonfield-errors {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.footer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .footer .auth-redirect {
    float: right;
    vertical-align: middle;
    flex: 1;
  }
}

.row {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
