<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>River Levels</title>

    {% load static %}
    <link rel="stylesheet" href="../../../static/riverlevels/style.css">
    <link rel="stylesheet" href="{% static 'frameworks/leaflet/leaflet.css' %}"/>
</head>
<body>
<div id="mapid"></div>

<div class="overlay"></div>
<div class="loading_anim">
    <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
    </div>
</div>

<script src="{% static 'frameworks/jQuery/jquery.js' %}"></script>
<script src="{% static 'frameworks/leaflet/leaflet.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script>
    const mymap = L.map('mapid').setView([53.305494, -7.737649], 7);


    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiY3JhaWdzdHIiLCJhIjoiY2p3d2J3cGFoMGdyczQzbWgwdHpxZGFpaCJ9.Jfvta7D4R2WlH9RT5oUB_g'
    }).addTo(mymap);

    function createMarkers(data) {
        $.each(data.features, function (key, val) {
            const coordinates = val.geometry.coordinates.reverse();
            const name = val.properties.name;
            const marker = L.marker(coordinates).on('click', showMap).addTo(mymap);
            marker.bindTooltip(name);
        })
    }

    const json = JSON.parse('{{ data | safe }}');


    createMarkers(json);


    function showMap() {
        {#showLoading();#}
        const elem = this;
        $.ajax({
            url: {% url 'river' %},
            timeout: 10000,
            data: {loc: elem.getTooltip().getContent()},
            beforeSend: function () {
                showLoading()
            },
            success: function (data) {
                $.fancybox.open("<img src='" + {% get_static_prefix %} +data + "' style='width: 100%; height: 100%;'>");
                hideLoading()
            },
            error: function () {
                $.fancybox.open("<p>Well something took too long... RIP</p>");
                hideLoading()
            },
        });
    }

    $('.overlay').hide();
    $('.loading_anim').hide();

    function showLoading() {
        $('.loading_anim').fadeIn(500);
        $('.overlay').fadeIn(500);
    }

    function hideLoading() {
        $('.loading_anim').fadeOut(500);
        $('.overlay').fadeOut(500);
    }

</script>
</body>
</html>
