<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter Movies</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frameworks/materialize/dist/css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'movielist/style.css' %}">

</head>
<body>
<div class="container">
    <div class="switch" id="tv-mov-switch">
        <label>
            Movies
            <input type="checkbox">
            <span class="lever"></span>
            TV
        </label>
    </div>
    <div class="row">

        <div class="input-field col s4">
            <div class="input-field col s12" id="sort-select">
                <select>
                    <option value="popularity.desc" class="selected">Popularity Descending</option>
                    <option value="popularity.asc">Popularity Ascending</option>
                    <option value="vote_average.desc">Rating Descending</option>
                    <option value="vote_average.asc">Rating Ascending</option>
                    <option value="first_air_date.desc">Aired Last</option>
                    <option value="first_air_date.asc">Aired First</option>
                </select>
                <label>Sorting</label>
            </div>
        </div>

        <div class="input-field col s4">
            <div class="input-field col s12" id="genre-select">
                <select multiple>
                    <option value=">28">Action</option>
                    <option value=">12">Adventure</option>
                    <option value=">16">Animation</option>
                    <option value=">35">Comedy</option>
                    <option value=">80">Crime</option>
                    <option value=">99">Documentary</option>
                    <option value=">18">Drama</option>
                    <option value=">10751">Family</option>
                    <option value=">14">Fantasy</option>
                    <option value=">36">History</option>
                    <option value=">27">Horror</option>
                    <option value=">10402">Music</option>
                    <option value=">9648">Mystery</option>
                    <option value=">10749">Romance</option>
                    <option value=">878">Science Fiction</option>
                    <option value=">10770">TV Movie</option>
                    <option value=">53">Thriller</option>
                    <option value=">10752">War</option>
                    <option value=">37">Western"</option>
                </select>
                <label>Genres</label>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col s5">
            <div class="input-field">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Add Keywords</label>
            </div>
        </div>
        <div class="col s1">
            <a class="btn-floating btn-large waves-effect waves-light light-blue" id="add-keyword"><i
                    class="material-icons">add</i></a></div>
        <div class="col s6">
            <div class="input-field disabled">
                <div class="chips" id="chip"></div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'frameworks/jQuery/jquery.js' %}"></script>
<script src="{% static 'frameworks/materialize/dist/js/materialize.js' %}"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('input.autocomplete').autocomplete({
            data: {},
        });
        $('.chips').chips();
        $('.chips input').prop('readonly', "readonly")
    });


    $('input.autocomplete').keypress(function () {
        updateKeywordAutocomplete($(this).val());
        console.log("change")
    });

    let autocompleteResults = {};
    let currentAutocomplete = [];

    function updateKeywordAutocomplete(keyword) {
        currentAutocomplete = [];
        $.getJSON(" https://api.themoviedb.org/3/search/keyword", {
            api_key: '7de757dcef7cbb72b08499e855a582b4',
            query: keyword,
            page: '1'
        }, function (data) {
            $.each(data['results'], function () {
                currentAutocomplete[$(this)['0']['name']] = null;
            });
            $('input.autocomplete').autocomplete({
                data: currentAutocomplete
            });
        });
    }

    $('#add-keyword').click(function (event) {
        console.log("trigger");
        const chip = M.Chips.getInstance($('#chip'));
        if (currentAutocomplete[$('#autocomplete-input').val()] === undefined) {
            console.log("fail");
            console.log(currentAutocomplete);
            event.preventDefault();
            return;
        }
        console.log("pass");
        chip.addChip({
            tag: $('#autocomplete-input').val(),
            image: '',
        });
    })

</script>
</body>
</html>


