<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieDetails</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frameworks/materialize/dist/css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'movielist/style.css' %}">
</head>
<body>
<nav>
    <div class="nav-wrapper teal">
        <div class="container">
            <a href="#" class="brand-logo">{{ data.title }}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/movies">Movies</a></li>
            </ul>
        </div>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/movies">Movies</a></li>
</ul>
<div class="container">
    <div class="row">
        <div class="col">
            <img class="responsive-img" src="https://image.tmdb.org/t/p/w300/{{ data.poster_path }}" alt="">
        </div>
        <div class="col s6">
            <p>Title: {{ data.title }}</p>
            <p class="truncate">Overview: {{ data.overview }}</p>
            <p>Runtime: {{ data.runtime }}</p>
            <p>Director: {{ data.director }}</p>
            <p>Runtime: {{ data.runtime }}</p>
            <p>Cast:</p>
            <ul>
                {% for key, value in data.cast.items %}
                    <a href="/movies/person/{{ value.1 }}">
                        <div class="chip">{{ key }} : {{ value.0 }}</div>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<pre>{{ data | pprint }}</pre>

<script src="{% static 'frameworks/jQuery/jquery.js' %}"></script>
<script src="{% static 'frameworks/materialize/dist/js/materialize.js' %}"></script>
<script src="{% static 'movielist/moviedetails.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });

    $('.truncate').click(function () {
        $(this).toggleClass('truncate');
    });

</script>
</body>
</html>