<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>MovieList</title>
    <link rel="stylesheet" type="text/css" href="{% static 'frameworks/materialize/dist/css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'movielist/style.css' %}">
</head>
<body>
<p id="test"></p>
</body>

<ul class="collapsible expandable popout">
    <li class="active">
        <div class="collapsible-header"><i class="material-icons">grade</i>To Watch</div>
        <div class="collapsible-body to-watch-body">
            <div class="row">
                {% for watch in to_watch %}
                    <div class="col s12 m3 l2">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator responsive-img"
                                     src="https://image.tmdb.org/t/p/w300/{{ watch.poster_path }}">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><p
                                    class="truncate">{{ watch.movie_title }}</p></span>
                                <a class="btn-floating favouriteBtn" data-movie-fav-id="{{ watch.movie_id }}"><i
                                        class="material-icons">favorite_border</i></a>
                                <a class="btn-floating watchBtn" data-movie-watch-id="{{ watch.movie_id }}"><i
                                        class="material-icons">star_border</i></a>
                                <a href="movie/{{ watch.movie_id }}" class="btn-floating right waves-effect waves-light red"><i class="material-icons">more_horiz</i></a>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ watch.movie_title }}<i
                                    class="material-icons right">close</i></span>
                                <p> {{ watch.movie_overview }} </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
    <li class="active">
        <div class="collapsible-header"><i class="material-icons">favorite_border</i>Favourite</div>
        <div class="collapsible-body favourite-body">
            <div class="row">
                {% for favourite in favourited %}
                    <div class="col s12 m3 l2">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator responsive-img"
                                     src="https://image.tmdb.org/t/p/w300/{{ favourite.poster_path }}">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><p
                                    class="truncate">{{ favourite.movie_title }}</p></span>
                                <a class="btn-floating favouriteBtn" data-movie-fav-id="{{ favourite.movie_id }}"><i
                                        class="material-icons">favorite_border</i></a>
                                <a class="btn-floating watchBtn" data-movie-watch-id="{{ favourite.movie_id }}"><i
                                        class="
                                   material-icons">star_border</i></a>
                                <a href="movie/{{ favourited.movie_id }}" class="btn-floating right waves-effect waves-light red"><i class="material-icons">more_horiz</i></a>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ favourite.movie_title }}<i
                                    class="material-icons right">close</i></span>
                                <p> {{ favourite.movie_overview }} </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
    <li class="active">
        <div class="collapsible-header"><i class="material-icons">arrow_upward</i>Popular</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 cards-container" id="popular">
                </div>
            </div>
        </div>
    </li>
</ul>
<script src="{% static 'frameworks/jQuery/jquery.js' %}"></script>
<script src="{% static 'frameworks/materialize/dist/js/materialize.js' %}"></script>
<script src="{% static 'movielist/movielist.js' %}"></script>
<script>

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });

    const json = JSON.parse('{{ data | escapejs }}');

    populatePopularMovies(json);

    $(document).ready(function () {
        $('.collapsible').collapsible({accordion: false});
    });

    {% for favourite in favourited %}
        $('[data-movie-fav-id={{ favourite.movie_id }}] i').each(function () {
            $(this).text('favorite')
        });
    {% endfor %}

    {% for watch in to_watch %}
        $('[data-movie-watch-id={{ watch.movie_id }}] i').each(function () {
            $(this).text('star')
        });
    {% endfor %}

</script>
</html>