<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PersonDetails</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frameworks/materialize/dist/css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'movielist/style.css' %}">
</head>
<body>
<nav>
    <div class="nav-wrapper teal">
        <div class="container">
            <a href="#" class="brand-logo">{{ biography.name }}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/movies">Movies</a></li>
            </ul>
        </div>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/movies">Movies</a></li>
</ul>
<div class="container">
    <div class="row">
        <div class="col">
            <img class="responsive-img" src="https://image.tmdb.org/t/p/w300/{{ biography.profile_path }}" alt="">
        </div>
        <div class="col s6">
            <p>{{ biography.biography }}</p>
            {% for movie in credits.cast %}
                <a href="/movies/movie/{{ movie.id }}">
                    <div class="chip">{{ movie.title }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<pre>{{ biography | pprint }}</pre>
<pre>{{ credits | pprint }}</pre>

<script src="{% static 'frameworks/jQuery/jquery.js' %}"></script>
<script src="{% static 'frameworks/materialize/dist/js/materialize.js' %}"></script>
<script src="{% static 'movielist/moviedetails.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
</body>
</html>