<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'frameworks/materialize/dist/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert danger">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="content-section">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="login_group">
                <h1 class="hide-on-small-and-down">Log In</h1>
                <h3 class="hide-on-med-and-up">Log In</h3>
                {{ form | crispy }}
                <span class="footer">
                    <button class="btn waves-effect waves-light" type="submit" name="login">Sign In</button>
                    <div class="auth-redirect right">
                        <small>No Account? <a href="{% url 'register' %}"><br class="hide-on-med-and-up">Sign Up!</a></small>
                    </div>
                </span>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'frameworks/materialize/dist/js/materialize.js' %}"></script>
<script> M.updateTextFields(); </script>
</body>
</html>